body{
    background: linear-gradient(90deg, rgba(40,27,54,1) 0%, #533870 100%);
    margin:0;
    overflow-x: hidden;
}
/*
body::before{
    content:"";
    position:absolute;
    top:100px;
    bottom:0;
    left:0;
    width:5700px;
    background:linear-gradient(to top, #281b36, #ceb9e7 200%);
    transform: skew(-80deg);
    z-index: -1;
}
*/
.main {
  min-height: auto;
}

.mainform {
  padding-top: 150px;
}
#container1 {
  color: black;
  display: flex;
  max-width: 1080px;
  z-index: 2;
}

#dropdown {
  width: 340px;
  height: 48px;
  background-color: #f6f9fc;
  color: black;
  border-radius: 5px;
  padding: 10px;
}

.btn {
  background-color: #281b36;
}

.secondary-column {
  margin-left: 0px;
  margin-right: 0px;
  max-width: none;
  flex-grow: 4;
  flex-shrink: 1;
  flex-basis: 0%;
  color: white;
}

.form-column {
  flex-grow: 6;
  flex-shrink: 1;
  flex-basis: 0%;
  padding-bottom: 0;
  -webkit-box-shadow: 2px 4px 10px 3px rgba(207, 207, 207, 0.56);
  box-shadow: 2px 4px 10px 5px rgba(0, 0, 0, 0.56);
  box-sizing: border-box;
  -webkit-box-flex: 6;
  background-color: #fcfcfc;
  border-radius: 5px;
}

.form-row {
  display: flex;
  border-bottom: none;
  padding: 4px 0;
  max-width: 600px;
  transition: opacity 0.2s ease-in, height 0.2s ease-out;
}

form {
  padding: 20px 20px 20px 20px;
}

.form-label {
  width: 200px;
}

.dropdown {
  width: 100%;
}

.description {
  padding-left: 50px;
  padding-right: 0px;
  padding-top: 150px;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  box-sizing: border-box;
}

.points li {
  list-style: none;
  margin-bottom: 20px;
}


.gradient-background{
    content:"";
    position:absolute;
    top:220px;
    bottom:0;
    left:0;
    width:5700px;
    background:linear-gradient(to right, #281b36, #ceb9e7 300%);
    border-left: 1900px solid #fcfcfc;   
    border-bottom:500px solid transparent;
    z-index: -1;
    overflow: hidden;
}

.form-control {
  background-color: #f6f9fc;
}

.qnatext {
  margin-top: 10px;
}


.calltoaction{
    height:280px;
    background: linear-gradient(90deg, rgba(40,27,54,1) 0%, #533870 100%);
    padding-top:100px;
    color: rgba(255, 255, 255, 0.774);
}

.calltoaction i{
    color:#fff;
    text-align: center;
}

#maincall{
    font-size:20px;
    padding-top:30px;
}