body {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  min-width: 1280px;
  min-height: 1400px;
  background-color: rgb(197, 197, 197);
}

.container {
  width: 100%;
}

.header-transparent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  z-index: 10000;
  transition: all 0.2s ease-in-out;
  height: auto;
  background-color: transparent;
  text-align: center;
  line-height: 40px;
}

.header-white {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  z-index: 10000;
  transition: all 0.2s ease-in-out;
  height: auto;
  background: #fff;
  text-align: center;
  line-height: 40px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}
.header-white {
  color: rgb(40, 27, 54);
}

.row {
  margin: 0;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 10px 0;
  font-size: 1rem;
}
.nav-menu-item {
  margin: 0 20px;
  padding: 10px;
}

.nav-menu-item a {
  text-decoration: none;
  color: #e0e0e0;
  font-weight: bold;
}

.nav-menu-item a:hover {
  color: rgb(255, 255, 255);
}
.nav-menu-item a.active1 {
  color: rgb(255, 255, 255);
}
/* .nav-menu-item a.active2 {
  color: rgb(0, 0, 0);
} */

.apply-loan {
  text-decoration: none;
  color: rgb(40, 27, 54);
  font-weight: bold;
  border-radius: 10px;
  background-color: #ececec;
  padding: 5px 20px;
  margin: 0 20px;
}

.apply-loan:hover {
  background-color: rgb(253, 251, 255);
  color: rgb(40, 27, 54);
}

.apply-loan2 {
  text-decoration: none;
  color: rgb(253, 251, 255);
  font-weight: bold;
  border-radius: 10px;
  background-color: rgb(40, 27, 54);
  padding: 5px 20px;
  margin: 0 20px;
}

.apply-loan2:hover {
  background-color: #ececec;
  color: rgb(40, 27, 54);
  /* outline: 1px solid rgb(40, 27, 54);
  border-radius: 10px; */
}

.main {
  min-height: 1000px;
}

.banner {
  background-color: rgb(40, 27, 54);
  height: 600px;
  width: 100%;
}

.footer {
  background-color: rgb(66, 66, 66);
  bottom: 0;
  position: fixed;
  left: 0;
  width: 100%;
}
