.main {
  font-family: Arial, Helvetica, sans-serif;
  min-width: 1280px;
  min-height: 1000px;
  background-color: fff;
  color: #171d24;
}

.header-transparent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  z-index: 10000;
  transition: all 0.2s ease-in-out;
  height: auto;
  background-color: transparent;
  text-align: center;
  line-height: 40px;
}

.header-white {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  z-index: 10000;
  transition: all 0.2s ease-in-out;
  height: auto;
  background: #fff;
  text-align: center;
  line-height: 40px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}
.header-white {
  color: #281b36;
}

.row {
  margin: 0;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 10px 0;
  font-size: 1rem;
}

.header-nav {
  text-decoration: none;
  color: #e0e0e0;
  font-weight: bold;
  margin: 0 20px;
  padding: 10px;
}

.header-nav:hover {
  color: #fff;
}

.header-nav-whiteBG {
  text-decoration: none;
  color: #281b36;
  font-weight: bold;
  margin: 0 20px;
  padding: 10px;
}

.header-nav-whiteBG:hover {
  color: rgb(89, 61, 119);
}

.apply-loan {
  text-decoration: none;
  color: #281b36;
  font-weight: bold;
  border-radius: 10px;
  background-color: #ececec;
  padding: 5px 20px;
  margin: 0 20px;
}

.apply-loan:hover {
  background-color: rgb(253, 251, 255);
  color: #281b36;
}

/* White background styling for CTA */
.apply-loan-whiteBG {
  text-decoration: none;
  color: rgb(253, 251, 255);
  font-weight: bold;
  border-radius: 10px;
  background-color: #281b36;
  padding: 5px 20px;
  margin: 0 20px;
}

.apply-loan-whiteBG:hover {
  background-color: #ececec;
  color: #281b36;
}

#logo {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  margin: 5px 84.5px;
}
#logo2 {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  margin: 5px 84.5px;
}
.footer {
  background-color: #171d24;
  width: 100%;
  height: 100px;
}
