#mainbody{
    padding-top:150px;
}

.card{
    color:black;
    box-shadow: grey 2px 2px 15px;
    border: 1px transparent;
}

.card-header{
    background-color: #281b36;
    color:white;
}
.card-img{
    height:200px;
}
.btn{
    background-color: #281b36;
    border:1px transparent;
}

.btn:hover{
    background-color: #4f87e0;
    border: 1px transparent;
}

.faq{
    background-color: #281b36;
    color: white;
    min-height: 500px;
}

.faqtitle{
    text-align: center;
}

.innercontainer{
    max-width: 1180px; 
    margin-left:auto; 
    margin-right:auto; 
    width:100%;
}

.col-md-6{
    padding:0px 15px;
}

.btn-lg{
    color:white;
}

.btntitle{
    font-size:16px;
    margin-top: 4px;
    margin-bottom: 4px;
}

hr{
    margin:1px;
}

.clicked{
    background-color: #4f87e0;
}

.card-img{
    border-radius: 0;
}

