#mainbody {
  padding-top: 150px;
}

.card {
  color: black;
  box-shadow: 2px 4px 10px 2px rgb(0 0 0 / 27%);
  border: 1px transparent;
}

.card-header {
  background-color: #281b36;
  color: white;
}
.card-img{
    height:200px;
}

.card-body{
    height:180px;
}
.card-text{
    height:90px;
}
.btn{
    background-color: #281b36;
    border:1px transparent;
}

.btn:hover{
    background-color: #4f87e0;
    border: 1px transparent;
}

.faq {
  background-color: #281b36;
  color: white;
  min-height: 500px;
}

.faqtitle {
  text-align: center;
}

.innercontainer {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.col-md-6 {
  padding: 0px 15px;
}

.btn-lg {
  color: white;
}

.btntitle {
  font-size: 16px;
  margin-top: 4px;
  margin-bottom: 4px;
}

hr {
  margin: 1px;
}

.clicked{
    background-color: #4f87e0;
}

.card-img{
    border-radius: 0;
}

