body {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  min-width: 1280px;
  background-color: rgb(197, 197, 197);
}

.container {
  width: 100%;
}

.header {
  background-color: rgb(102, 102, 102);
  width: 100%;
  padding: 10px 0px;
}

.row {
  margin: 0;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 10px 0;
  font-size: 1rem;
}
.nav-menu-item {
  margin: 0 20px;
  padding: 10px;
}

.nav-menu-item a {
  text-decoration: none;
  color: #ececec;
  font-weight: bold;
}

.nav-menu-item a:hover {
  color: rgb(255, 255, 255);
}
.nav-menu-item a.active {
  color: rgb(255, 255, 255);
}

.apply-loan {
  border-radius: 10px;
  background-color: rgb(167, 167, 167);
  padding: 10px 20px;
  margin: 0 20px;
}

.apply-loan a {
  text-decoration: none;
  color: #ececec;
  font-weight: bold;
}

.apply-loan:hover {
  background-color: skyblue;
}

.banner {
  background-color: #fff;
  height: 300px;
  width: 100%;
  color: rgb(66, 66, 66);
}

.footer {
  background-color: rgb(66, 66, 66);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
